In [1]:
# Import the MySQL connector library.
import mysql.connector

# Import the pandas library for data manipulation.
import pandas as pd

In [2]:
# Establish a connection to the MySQL database.
conn = mysql.connector.connect(
    host='18.136.157.135',  # The hostname of the MySQL server.
    user='dm_team',         # The username to use for authentication.
    password='DM!$Team@&27920!',  # The password to use for authentication.
    database='project_itsm'  # The name of the database to connect to.
)

In [3]:
# Create a cursor object using the cursor() method.
cursor = conn.cursor()  # This allows us to execute SQL queries.

# Define the SQL query to fetch all data from the 'dataset_list' table.
query = "SELECT * FROM dataset_list"

In [4]:
# Execute the SQL query.
cursor.execute(query)  # This sends the query to the database.

# Fetch all rows from the executed query.
rows = cursor.fetchall()  # This retrieves all the rows returned by the query.

# Get the column names from the cursor description.
columns = [desc[0] for desc in cursor.description]  # Extracts column names from the cursor description.

In [12]:
# Create a pandas DataFrame using the fetched data and column names.
df = pd.DataFrame(rows, columns=columns)  # Constructs a DataFrame from the rows and columns.

# Print the DataFrame to inspect the data.
print(df.head())  # Displays the first few rows of the DataFrame for inspection.

     CI_Name          CI_Cat              CI_Subcat        WBS Incident_ID  \
0  SUB000508  subapplication  Web Based Application  WBS000162   IM0000004
1  WBA000124     application  Web Based Application  WBS000088   IM0000005
2  DTA000024     application    Desktop Application  WBS000092   IM0000006
3  WBA000124     application  Web Based Application  WBS000088   IM0000011
4  WBA000124     application  Web Based Application  WBS000088   IM0000012

   Status Impact Urgency Priority   number_cnt  ...       Reopen_Time  \
0  Closed      4       4        4  0.601292279  ...
1  Closed      3       3        3  0.415049969  ...  02-12-2013 12:31
2  Closed     NS       3       NA  0.517551335  ...
3  Closed      4       4        4  0.642927218  ...
4  Closed      4       4        4  0.345258343  ...

      Resolved_Time        Close_Time Handle_Time_hrs  \
0  04-11-2013 13:50  04-11-2013 13:51  3,87,16,91,111
1  02-12-2013 12:36  02-12-2013 12:36  4,35,47,86,389
2  13-01-2014 15:12  13-01-2014 15:13  4,84,31,19,444
3  14-11-2013 09:31  14-11-2013 09:31  4,32,18,33,333
4  08-11-2013 13:55  08-11-2013 13:55  3,38,39,03,333

                   Closure_Code No_of_Related_Interactions  \
0                         Other                          1
1                      Software                          1
2  No error - works as designed                          1
3                Operator error                          1
4                         Other                          1

  Related_Interaction No_of_Related_Incidents No_of_Related_Changes  \
0           SD0000007                       2
1           SD0000011                       1
2           SD0000017
3           SD0000025
4           SD0000029

  Related_Change
0
1
2
3
4

[5 rows x 25 columns]

In [6]:
# Close the cursor and the connection to the database.
cursor.close()  # Closes the cursor to free up resources.
conn.close()  # Closes the database connection.

In [7]:
df.head()

,CI_Name,CI_Cat,CI_Subcat,WBS,Incident_ID,Status,Impact,Urgency,Priority,number_cnt,...,Reopen_Time,Resolved_Time,Close_Time,Handle_Time_hrs,Closure_Code,No_of_Related_Interactions,Related_Interaction,No_of_Related_Incidents,No_of_Related_Changes,Related_Change
0,SUB000508,subapplication,Web Based Application,WBS000162,IM0000004,Closed,4,4,4,0.601292279,...,,04-11-2013 13:50,04-11-2013 13:51,"3,87,16,91,111",Other,1,SD0000007,2,,
1,WBA000124,application,Web Based Application,WBS000088,IM0000005,Closed,3,3,3,0.415049969,...,02-12-2013 12:31,02-12-2013 12:36,02-12-2013 12:36,"4,35,47,86,389",Software,1,SD0000011,1,,
2,DTA000024,application,Desktop Application,WBS000092,IM0000006,Closed,NS,3,NA,0.517551335,...,,13-01-2014 15:12,13-01-2014 15:13,"4,84,31,19,444",No error - works as designed,1,SD0000017,,,
3,WBA000124,application,Web Based Application,WBS000088,IM0000011,Closed,4,4,4,0.642927218,...,,14-11-2013 09:31,14-11-2013 09:31,"4,32,18,33,333",Operator error,1,SD0000025,,,
4,WBA000124,application,Web Based Application,WBS000088,IM0000012,Closed,4,4,4,0.345258343,...,,08-11-2013 13:55,08-11-2013 13:55,"3,38,39,03,333",Other,1,SD0000029,,,

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46606 entries, 0 to 46605
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CI_Name                     46606 non-null  object
 1   CI_Cat                      46606 non-null  object
 2   CI_Subcat                   46606 non-null  object
 3   WBS                         46606 non-null  object
 4   Incident_ID                 46606 non-null  object
 5   Status                      46606 non-null  object
 6   Impact                      46606 non-null  object
 7   Urgency                     46606 non-null  object
 8   Priority                    46606 non-null  object
 9   number_cnt                  46606 non-null  object
 10  Category                    46606 non-null  object
 11  KB_number                   46606 non-null  object
 12  Alert_Status                46606 non-null  object
 13  No_of_Reassignments         46606 non-null  object
 14  Open_Time                   46606 non-null  object
 15  Reopen_Time                 46606 non-null  object
 16  Resolved_Time               46606 non-null  object
 17  Close_Time                  46606 non-null  object
 18  Handle_Time_hrs             46606 non-null  object
 19  Closure_Code                46606 non-null  object
 20  No_of_Related_Interactions  46606 non-null  object
 21  Related_Interaction         46606 non-null  object
 22  No_of_Related_Incidents     46606 non-null  object
 23  No_of_Related_Changes       46606 non-null  object
 24  Related_Change              46606 non-null  object
dtypes: object(25)
memory usage: 8.9+ MB

In [9]:
df.describe()

,CI_Name,CI_Cat,CI_Subcat,WBS,Incident_ID,Status,Impact,Urgency,Priority,number_cnt,...,Reopen_Time,Resolved_Time,Close_Time,Handle_Time_hrs,Closure_Code,No_of_Related_Interactions,Related_Interaction,No_of_Related_Incidents,No_of_Related_Changes,Related_Change
count,46606,46606,46606,46606,46606,46606,46606,46606,46606,46606,...,46606,46606,46606,46606,46606,46606,46606,46606,46606,46606
unique,3019,13,65,274,46606,2,6,6,6,46606,...,2245,33628,34528,30639,15,50,43060,25,5,233
top,SUB000456,application,Server Based Application,WBS000073,IM0000004,Closed,4,4,4,0.601292279,...,,,02-10-2013 15:20,0,Other,1,#MULTIVALUE,,,
freq,3050,32900,18811,13342,1,46597,22556,22588,22717,1,...,44322,1780,21,236,16470,43058,3434,45384,46046,46046

In [10]:
df.isnull().sum()

CI_Name                       0
CI_Cat                        0
CI_Subcat                     0
WBS                           0
Incident_ID                   0
Status                        0
Impact                        0
Urgency                       0
Priority                      0
number_cnt                    0
Category                      0
KB_number                     0
Alert_Status                  0
No_of_Reassignments           0
Open_Time                     0
Reopen_Time                   0
Resolved_Time                 0
Close_Time                    0
Handle_Time_hrs               0
Closure_Code                  0
No_of_Related_Interactions    0
Related_Interaction           0
No_of_Related_Incidents       0
No_of_Related_Changes         0
Related_Change                0
dtype: int64

In [11]:
df.dtypes

CI_Name                       object
CI_Cat                        object
CI_Subcat                     object
WBS                           object
Incident_ID                   object
Status                        object
Impact                        object
Urgency                       object
Priority                      object
number_cnt                    object
Category                      object
KB_number                     object
Alert_Status                  object
No_of_Reassignments           object
Open_Time                     object
Reopen_Time                   object
Resolved_Time                 object
Close_Time                    object
Handle_Time_hrs               object
Closure_Code                  object
No_of_Related_Interactions    object
Related_Interaction           object
No_of_Related_Incidents       object
No_of_Related_Changes         object
Related_Change                object
dtype: object

In [15]:
df.CI_Name.value_counts()

CI_Name
SUB000456    3050
SBA000263    2176
SBA000607    1743
SBA000462    1698
WBA000058    1614
             ...
LAP001572       1
LAP000809       1
LAP000513       1
CBD000266       1
SWT000008       1
Name: count, Length: 3019, dtype: int64

In [17]:
df.CI_Cat.value_counts()

CI_Cat
application             32900
subapplication           7782
computer                 3643
storage                   703
hardware                  442
software                  333
database                  214
displaydevice             212
officeelectronics         152
                          111
networkcomponents         107
applicationcomponent        5
Phone                       2
Name: count, dtype: int64